$primary-color: #6ec2b1;
$secondly-color: #ff545e;

$primary-color-light: lighten($primary-color, 20%);
$primary-color-dark: darken($primary-color, 20%);

$text-color: #233332;
$text-color-white: #fff;

html {
  color: $text-color;
}

body {
  margin: 0;
  border: 0;

  background-color: rgba(desaturate($primary-color, 25%), 0.3);
}

.main-container {
  margin: 1rem;
  height: calc(100vh - 10rem);
}

#file-name {
  font-weight: bold;
  font-size: 2em;
}

#editor {
  width: 80%;
  height: 80%;

  border: solid 3px $primary-color-dark;
  border-radius: 5px;
  padding: 1.5rem;

  background-color: lighten($primary-color, 40%);

  overflow-y: auto;

  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.4);
}

.line {
  line-height: 1.7em;
}

.line:hover {
  background-color: rgba($primary-color, 0.15);
}

input:focus {
  outline: none;
}

.line-index {
  min-width: 4em;

  font-size: 0.8em;
  color: rgba(0,0,0,0.5);
}

.line-content {
  width: 100%;
}

#line-input {
  width: calc(100% - 4em);

  border: solid $primary-color-dark;
  border-width: 0 0 3px;
  font-size: 1em;
  background-color: rgba($primary-color, 0.3);
}

.transition-line-input-enter {
  background-color: rgba($primary-color, 0);
}

.transition-line-input-active {
  transition: all 0.5s;
}

header {
  padding: 0.5rem;

  background-color: $text-color;

  color: $primary-color-light;

  a {
    color: $text-color-white;
    font-weight: bold;
  }
}